.p {
    font-family: Montserrat;
}

.model {
    font-size: 45px;
    padding-left: 92px;
    font-weight: bold;
    margin-bottom: 0px;
}

.order {
    font-size: 23px;
    margin-top: 10px;
    margin-left: 10px;
}

.touch {
    text-decoration: underline;
}